a {
    text-decoration: none;
}

.card-body>.card-text {
    margin-bottom: 0;
}

.card-header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.card {
    text-align: center;
}

li {
    list-style-type: none;
}

li>a {
    color: rgb(76, 76, 76);
}

tr>th,
tr>td {
    text-align: center;
}

tbody>tr>th {
    text-align: left;
}